<template>
    <v-dialog v-model="editing" persistent max-width="600px">
        <v-btn :color="team_before_edit.bg_color" icon slot="activator" @click="editTeam"><v-icon>edit</v-icon></v-btn>
        <v-card>
            <v-form ref="form" v-model="valid" >
                <v-card-title>
                    <span class="headline">Modifier l'équipe : {{team_before_edit.name}}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                                <picture-input 
                                    ref="pictureInput"
                                    width="300" 
                                    height="300" 
                                    :crop="false"
                                    :prefill="logo"
                                    margin="16" 
                                    accept="image/jpeg,image/png" 
                                    size="3" 
                                    button-class="btn"
                                    :custom-strings="{
                                    upload: '<h1>Bummer!</h1>',
                                    drag: 'Drag a 😺 GIF or GTFO',
                                    change: 'Changer d\'image'
                                    }"
                                    @change="onChange">
                                </picture-input>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field 
                                    label="Nom*" 
                                    autofocus
                                    flat 
                                    v-model="team.name"
                                    :rules="nameRules"
                                    required>
                                </v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field label="Nom complet" v-model="team.fullname"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field
                                    label="Abbreviation"
                                    v-model="team.abbreviation"
                                    ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field
                                    label="Longitude*"
                                    v-model="team.lon"
                                    :rules="lonRules"
                                    ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field
                                    label="Latitude*"
                                    v-model="team.lat"
                                    :rules="latRules"
                                    ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field 
                                    label="Url*" 
                                    v-model="team.url" 
                                    :rules="urlRules"
                                    required>
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field 
                                    label="Couleur de fond*" 
                                    autofocus
                                    flat 
                                    v-model="team.bg_color"
                                    :rules="colorRules"
                                    required>
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field 
                                    label="Couleur de texte*" 
                                    autofocus
                                    flat 
                                    v-model="team.color"
                                    :rules="colorRules"
                                    required>
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-select
                                    :items="federations"
                                    item-text="name"
                                    item-value="id"
                                    item-avatar="`storage/`+logo_path"
                                    label="Federation*"
                                    v-model="team.ligue.federation.id"
                                    :rules="federationRules"
                                    required
                                    ></v-select>
                                <v-select
                                    :items="ligues"
                                    item-text="name"
                                    item-value="id"
                                    label="Ligue*"
                                    v-model="team.ligue.id"
                                    :rules="ligueRules"
                                    required
                                    ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-switch
                                    v-model="team.validated"
                                    label="Validé"
                                    ></v-switch>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="cancelEdit">Close</v-btn>
                    <v-btn color="success" flat :disabled="!valid" @click="save">Save</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
import PictureInput from 'vue-picture-input'

export default {
    name: 'team-edit',
    components: {
        PictureInput,
    },
    computed: {
        logo(){
            return 'storage/' + this.team_to_edit.logo_path
        },
        ligues() {
            if(this.federations.length == 0){
                return
            }
            function finder(federation) {
                return federation.id === this.id
            }
            return this.federations.find(finder, this.team.ligue.federation).ligues 
        },
    },
    props: {
        team_to_edit: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true,
        },
        federations: {
            type:Array,
            required: true,
        }
    },
    data() {
        return ({
            team: this.team_to_edit,
            team_before_edit: "",
            editing: false,
            valid: true,
            nameRules: [
                v => !!v || 'Le nom est requis',
            ],
            lonRules: [
                v => !!v || 'La longitude est requise',
                v => /^[-]?((((1[0-7][0-9])|([0-9]?[0-9]))\.(\d+))|180(\.0+)?)$/.test(v) || 'La longitude semble incorrect'
            ],
            latRules: [
                v => !!v || 'La latitude est requise',
                v => /^[-]?(([0-8]?[0-9])\.(\d+))|(90(\.0+)?)$/.test(v) || 'La latitude semble incorrect'
            ],
            urlRules: [
                v => /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)/.test(v) || 'La latitude semble incorrect'
            ],
            colorRules: [
                v => !!v || 'La couleur est requise',
                v => /^#(\d|a|b|c|d|e|f){6}$/i.test(v) || 'La couleur semble incorrect'
            ],
            federationRules: [
                v => !!v || 'La fédération est requise',
            ],
            ligueRules: [
                v => !!v || 'La ligue est requise',
            ],
        })
    },
    methods: {
        editTeam() {
            this.team_before_edit = Object.assign({}, this.team)
        },
        cancelEdit () {
            this.team = Object.assign(this.team, this.team_before_edit)
            this.editing = false
        },
        save () {
            if (this.$refs.form.validate()) {
                var data = new FormData()
                data.append('id', this.team.id)
                data.append('name', this.team.name)
                data.append('fullename', this.team.fullname)
                data.append('abbreviation', this.team.abbreviation)
                data.append('ville', this.team.ville)
                data.append('url', this.team.url)
                data.append('bg_color', this.team.bg_color)
                data.append('color', this.team.color)
                data.append('lon', this.team.lon)
                data.append('lat', this.team.lat)
                if(this.team.logo){
                    data.append('logo', this.team.logo, this.team.logo.name)
                }
                data.append('validated', this.team.validated ? 0 : 1)
                data.append('ligue_id', this.team.ligue.id)
                data.append('_method', 'PATCH')
                axios
                    .post('api/teams/'+this.team.id, data, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(({data}) => {
                        eventBus.$emit('saveTeam', this.index, data.data)    
                        this.editing = false
                    })
                    .catch(({error}) => {
                        alert("Erreur lors de l'enregistrement." + error );
                    });
            }
        },
        onChange (image) {
            if (image) {
                console.log(this.team.logo = this.$refs.pictureInput.file)
                console.log(this.team.logo = this.$refs.pictureInput.image)
                this.team.logo = this.$refs.pictureInput.file
            } else {
                console.log('FileReader API not supported: use the <form>, Luke!')
            }
        }
    }
}
</script>
