<template>
    <v-container>
        <v-text-field
            label="Adresse"
            prepend-icon="place"
            :append-icon="loading ? 'autorenew' : (error ? 'location_disabled' : 'location_searching')"
            append-outer-icon="search"
            @click:append="fetchAddress"
            @click:append-outer="fetchCoordinate"
            clear-icon="cancel"
            clearable
            v-model="input_address"
            ></v-text-field>
    </v-container>
</template>

<script>
import * as locationService from '../services/location.js';

export default {
    name: 'team-filtered-city',
    computed: {
        full_address(){
            if(Object.keys(this.address).length){
                return this.address.postcode + ' ' + (this.address.city ? this.address.city : this.address.town)
            } else {
                return ""
            }
        },
    },
    data() {
        return {
            address: {},
            error: null,
            // Make it possible to conditionally render
            // elements based on if the geolocation API
            // is availabel or not.
            geolocationSupported: 'geolocation' in navigator,
            loading: false,
            input_address: "",
        };
    },
    methods: {
        async fetchAddress() {
            try {
                this.setLoadingState()
                this.address = await locationService.currentAddress()
                eventBus.$emit('filterAddressChanged', this.address)
                this.input_address = this.full_address
                // Reset the loading state after fetching the address.
                this.loading = false
            } catch (error) {
                this.setErrorState(error);
            }
        },
        async fetchCoordinate() {
            try {
                this.address = await locationService.fetchAddress(this.input_address);
                eventBus.$emit('filterAddressChanged', this.address)
                this.input_address = this.full_address;
            } catch (error) {
                console.log(error);
            }
        },
        setErrorState(error) {
            this.error = error;
            this.loading = false;
        },
        setLoadingState() {
            this.error = null;
            this.loading = true;
        },
    },
};
</script>
