<template>
    <v-container grid-list-sm>
        <v-layout row wrap>
            <v-flex
                v-for="federation in federations"
                :key="federation.id"
                xs1
                d-flex
                >
                <v-img
                    :src="(filter.length == 0 || filter.indexOf(federation.id) > -1)? logo(federation) : logo_black(federation)"
                    alt="federation.name"
                    @click="changeFilter(federation.id)"
                    max-height="70"
                    max-width="70"
                    >
                </v-img>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'team-filtered-federation',
    methods: {
        logo(federation){
            return 'storage/' + federation.logo_path
        },
        logo_black(federation){
            return 'storage/' + federation.logo_black_path
        },
        changeFilter(federation_id){
            let index = this.filter.indexOf(federation_id)
            if(index > -1){
                this.filter.splice(index, 1)
            } else {
                this.filter.push(federation_id)
            }

            eventBus.$emit('filterChanged', this.filter)
        }
    },
    props: {
        federations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return {
            'filter': [],
        }
    },
}
</script>
