<template>
    <v-flex xs4>
        <v-card :color="team.bg_color" style="color:team.color;">
            <v-layout>
                <v-flex xs5>
                    <v-img
                        :src="logo"
                        height="200"
                        alt="team.name"
                        :contain=true
                        >
                    </v-img>
                </v-flex>
                <v-flex xs7>
                    <v-card-title primary-title>
                        <div>
                            <div class="headline">{{team.name}}</div>
                            <div>{{team.abbreviation}}</div>
                            <div>{{distance}} km</div>
                        </div>
                    </v-card-title>        
                </v-flex>
            </v-layout>
            <v-divider light></v-divider>
            <v-card-actions class="pa-3">
                <v-layout row wrap>
                    <v-flex xs3 d-flex>
                        <v-img
                            :src="federation_logo"
                            alt="federation_name"
                            max-height="70"
                            max-width="70"
                            >
                        </v-img>
                    </v-flex>
                    <v-flex xs3 d-flex>
                        <v-img
                            :src="ligue_logo"
                            alt="ligue_name"
                            max-height="70"
                            max-width="70"
                            >
                        </v-img>
                    </v-flex>
                </v-layout>
                <v-btn :color="team.bg_color" icon :href="team.url" target="_blanck"><v-icon>link</v-icon></v-btn>
                <v-btn :color="team.bg_color" icon @click="removeTeam(index, team.id)"><v-icon>delete</v-icon></v-btn> 
                <team-edit
                    :team_to_edit="team"
                    :index="index"
                    :federations="federations"
                    >
                </team-edit>
            </v-card-actions>
        </v-card>
    </v-flex>
</template>

<script>
import TeamEdit from './TeamEdit'

export default {
    name: 'team-item',
    components: {
        TeamEdit,
    },
    computed: {
        logo(){
            return 'storage/' + this.team.logo_path
        },
        ligue_logo(){
            return 'storage/' + this.team.ligue.logo_path
        },
        federation_logo(){
            return 'storage/' + this.team.ligue.federation.logo_path
        },
        distance(){
            return (this.team.distance/1000).toFixed(1)
        },
    },
    props: {
        team: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true,
        },
        federations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return ({
        })
    },
    methods: {
        removeTeam(index, id) {
            eventBus.$emit('removeTeam', index, id)    
        },
    }
}
</script>
