<template>
    <v-flex>
        <v-card>
            <v-img :src="image" height="200px"></v-img>
            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{ name }}</h3>
                </div>
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon flat color="red"><v-icon>favorite</v-icon></v-btn>
                <v-btn icon @click="del"><v-icon>delete</v-icon></v-btn>
            </v-card-actions>
        </v-card>
    </v-flex>
</template>
<script>

export default {
    computed: {
        //propriété calculén,sorte de raccourcie
        //ce résultat est mis en cache. si on veut le réévaluer, alors il faut utiliser methods
        image() {
            return `http://myteams.pg/storage/${this.logo}`;
        }
    },
    methods: {
        del() {
            this.$emit('delete', this.id);
        }
    },
    props: {
        id: {
            type: Number,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        logo: {
            type: String,
            default : "default_team.png"
        }
    },
    filters: {
        properCase(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    }
}
</script>
<style></style>
