<template>
    <div class="section fp-section"  :style="background_color">
        adzazd
    </div>
</template>

<script>
import TeamEdit from './TeamEdit'

export default {
    name: 'team-item',
    components: {
        TeamEdit,
    },
    computed: {
        background_color(){
            return 'background-color:'+ this.team.bg_color
        },
        logo(){
            return 'storage/' + this.team.logo_path
        },
        ligue_logo(){
            return 'storage/' + this.team.ligue.logo_path
        },
        federation_logo(){
            return 'storage/' + this.team.ligue.federation.logo_path
        },
        distance(){
            return (this.team.distance/1000).toFixed(1)
        },
    },
    props: {
        team: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true,
        },
        federations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return ({
        })
    },
    methods: {
        removeTeam(index, id) {
            eventBus.$emit('removeTeam', index, id)    
        },
    },
    mounted() {
        fullpage_api.reBuild();
    }
}
</script>
