<template>
    <v-container
        fluid
        class="red pa-5"
        >
        <v-layout row wrap>
            <v-flex xs6>
                <v-img
                    :src="logo"
                    height="400"
                    alt="team.name"
                    :contain=true
                    >
                </v-img>
            </v-flex>
        <v-flex xs6>
            <h1 class="display4 font-weight-light">{{team.name}}</h1>
            <h2 class="display3 font-weight-light">{{team.abbreviation}}</h2>
            <h3 class="display2 font-weight-light">{{distance}} km</h3>
            <v-layout row wrap>
                <v-flex xs3 d-flex>
                    <v-img
                        :src="federation_logo"
                        alt="federation_name"
                        max-height="70"
                        max-width="70"
                        >
                    </v-img>
                </v-flex>
                <v-flex xs3 d-flex>
                    <v-img
                        :src="ligue_logo"
                        alt="ligue_name"
                        max-height="70"
                        max-width="70"
                        >
                    </v-img>
                </v-flex>
            </v-layout>
            <v-btn :color="team.bg_color" icon :href="team.url" target="_blanck"><v-icon>link</v-icon></v-btn>
            <v-btn :color="team.bg_color" icon @click="removeTeam(index, team.id)"><v-icon>delete</v-icon></v-btn> 
            <team-edit
                :team_to_edit="team"
                :index="index"
                :federations="federations"
                >
            </team-edit>
        </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import TeamEdit from './TeamEdit'

export default {
    name: 'team-item',
    components: {
        TeamEdit,
    },
    computed: {
        logo(){
            return 'storage/' + this.team.logo_path
        },
        ligue_logo(){
            return 'storage/' + this.team.ligue.logo_path
        },
        federation_logo(){
            return 'storage/' + this.team.ligue.federation.logo_path
        },
        distance(){
            return (this.team.distance/1000).toFixed(1)
        },
    },
    props: {
        team: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true,
        },
        federations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return ({
        })
    },
    methods: {
        removeTeam(index, id) {
            eventBus.$emit('removeTeam', index, id)    
        },
    }
}
</script>
