<template> 
    <v-container>
        <team-filtered-federation
            :federations="federations_with_ligues"
            >
        </team-filtered-federation>
    <v-badge left
    v-if="pages.total">
      <template v-slot:badge>
          <span>{{pages.total}}</span>
      </template>
      <span>Equipes</span>
    </v-badge>

            <team-filtered-city>
            </team-filtered-city>
            <v-layout> 
                <v-flex>
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <team-item
                                v-for="(team, index) in teams"
                                :key="team.id"
                                :team="team"
                                :index="index"
                                :federations="federations_with_ligues"
                                >
                            </team-item>
                        </v-layout>
                    </v-container>
                </v-flex>

            </v-layout>
            <div class="text-xs-center"
                 v-if="pages.total"> 
                <v-pagination
                    v-model="pages.current_page"
                    :length="pages.last_page"
                    :total-visible="7"
                    @next="getTeams"
                    @previous="getTeams"
                    @input="getTeams"
                    ></v-pagination>
            </div>
            </v-layout>
    </v-container>
</template>

<script>
import TeamItem from './TeamItem'
import TeamFilteredFederation from './TeamFilteredFederation'
import TeamFilteredCity from './TeamFilteredCity'

export default {
    name: 'team-list',
    components: {
        TeamItem,
        TeamFilteredFederation,
        TeamFilteredCity,
    },
    data() {
        return {
            teams: [],
            federations_with_ligues: [],
            filter: [],
            address: null,
            pages: {},
        }
    },
    created() {
        eventBus.$on('removeTeam', (index, id) => this.removeTeam(index, id)) 
        eventBus.$on('saveTeam', (index, data) => this.saveTeam(index, data)) 
        eventBus.$on('filterChanged', (filter) => {this.filter = filter; this.getTeams() }) 
        eventBus.$on('filterAddressChanged', (address) => {this.address = address; this.getTeams() }) 
    },
    beforeDestroy() {
        eventBus.$off('removeTeam', (index, id) => this.removeTeam(index, id)) 
        eventBus.$off('saveTeam', (index, data) => this.saveTeam(index, data)) 
        eventBus.$off('filterChanged', (filter) => {this.filter = filter; this.getTeams() }) 
        eventBus.$off('filterAddressChanged', (address) => {this.address = address; this.getTeams() }) 
    },
    computed: {
    },
    methods: {
        getTeams() {
            axios
                .get('api/teams', {
                    params: {
                        filter : this.filter,
                        lat: this.address.lat,
                        lon: this.address.lon,
                        page: this.pages? this.pages.current_page : null,
                    }
                })
                .then(({ data }) => {
                    this.teams = [];
                    data.data.forEach(team => {
                        this.teams.push(team);
                    });
                    this.pages = {
                        current_page: data.meta.current_page,
                        from: data.meta.from,
                        last_page: data.meta.last_page,
                        total: data.meta.total,
                    };
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        getFederations() {
            axios
                .get('api/federations', {
                    params: {
                        ligue : true,
                    }
                })
                .then(({ data }) => {
                    data.data.forEach(federation => {
                        this.federations_with_ligues.push(federation);
                    });
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        removeTeam(index, id){
            axios
                .delete('api/teams/'+id)
                .then(() => {
                    this.teams.splice(index,1)
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        saveTeam(index, team_save){
            this.teams.splice(index,1,team_save)
        },
    },
    beforeMount() {
        this.getFederations()
    }
}
</script>

<style>
</style>
