<template>
    <v-container>
        <v-btn
            v-for="federation in federations"
            :key="federation.id"
            :class="{'v-btn--active': filter.indexOf(federation.id) > -1}"
            @click="changeFilter(federation.id)"
            >
            <v-img
                :src="logo(federation)"
                alt="federation.name"
                max-height="70"
                max-width="70"
                >
            </v-img>
        </v-btn>
    </v-container>
</template>

<script>
export default {
    name: 'team-filtered-federation',
    methods: {
        logo(federation){
            return 'storage/' + federation.logo_path
        },
        changeFilter(federation_id){
            let index = this.filter.indexOf(federation_id)
            if(index > -1){
                this.filter.splice(index, 1)
            } else {
                this.filter.push(federation_id)
            }

            eventBus.$emit('filterChanged', this.filter)
        }
    },
    props: {
        federations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return {
            'filter': [],
        }
    },
}
</script>
