<template>
    <v-app>
        <v-toolbar app>
            <v-toolbar-title>MY TEAMS</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <team-list></team-list>
        </v-content>
    </v-app>
</template>

<script>
import TeamList from './components/TeamList'

export default {
    name: 'App',
    components: {
        TeamList,
    },
}
</script>

<style>
</style>
