<template>
    <div id="app">
        <ul id="menu">
            <li data-menuanchor="page1" class="active"><a href="#page1">Section 1</a></li>
            <li data-menuanchor="page2"><a href="#page2">Section 2</a></li>
            <li data-menuanchor="page3"><a href="#page3">Section 3</a></li>
        </ul>
        <full-page ref="fullpage" :options="options" id="fullpage">
            <div class="section">
                <team-filtered-federation
                    :federations="federations_with_ligues"
                    >
                </team-filtered-federation>
                    <v-badge left
                             v-if="pages.total">
                        <template v-slot:badge>
                            <span>{{pages.total}}</span>
                        </template>
                        <span>Equipes</span>
                    </v-badge>
                    <team-filtered-city>
                    </team-filtered-city>
            </div>
            <div class="section">
                adz
            </div>
            <team-item
                v-if="teams.length"
                v-for="(team, index) in teams"
                :index="index"
                :key="team.id"
                :team="team"
                :federations="federations_with_ligues"
                >
            </team-item>
        </full-page>
    </div>
</template>

<script>
import TeamItem from './components/TeamItem'
import TeamFilteredFederation from './components/TeamFilteredFederation'
import TeamFilteredCity from './components/TeamFilteredCity'

export default {
    name: 'App',
    components: {
        TeamItem,
        TeamFilteredFederation,
        TeamFilteredCity,
    },
    data() {
        return ({
            options: {
                afterLoad: this.afterLoad,
                scrollBar: false,
                menu: '#menu',
                navigation: true,
                //anchors: ['page1', 'page2'],
                sectionsColor: ['#41b883', '#ff5f45'],
            },
            teams: [],
            federations_with_ligues: [],
            filter: [],
            address: null,
            pages: {},
        })
    },
    created() {
        eventBus.$on('removeTeam', (index, id) => this.removeTeam(index, id)) 
        eventBus.$on('saveTeam', (index, data) => this.saveTeam(index, data)) 
        eventBus.$on('filterChanged', (filter) => {this.filter = filter; this.getTeams() }) 
        eventBus.$on('filterAddressChanged', (address) => {this.address = address; this.getTeams() }) 
    },
    beforeDestroy() {
        eventBus.$off('removeTeam', (index, id) => this.removeTeam(index, id)) 
        eventBus.$off('saveTeam', (index, data) => this.saveTeam(index, data)) 
        eventBus.$off('filterChanged', (filter) => {this.filter = filter; this.getTeams() }) 
        eventBus.$off('filterAddressChanged', (address) => {this.address = address; this.getTeams() }) 
    },
    computed: {
    },
    methods: {
        afterLoad: function() {
            console.log('After load');
        },
        getTeams() {
            if(!this.address){
                return;
            }
            axios
                .get('api/teams', {
                    params: {
                        filter : this.filter,
                        lat: this.address.lat,
                        lon: this.address.lon,
                        page: this.pages? this.pages.current_page : null,
                    }
                })
                .then(({ data }) => {
                    this.teams = [];
                    data.data.forEach(team => {
                        this.teams.push(team);
                    });
                    this.pages = {
                        current_page: data.meta.current_page,
                        from: data.meta.from,
                        last_page: data.meta.last_page,
                        total: data.meta.total,
                    };
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        getFederations() {
            axios
                .get('api/federations', {
                    params: {
                        ligue : true,
                    }
                })
                .then(({ data }) => {
                    data.data.forEach(federation => {
                        this.federations_with_ligues.push(federation);
                    });
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        removeTeam(index, id){
            axios
                .delete('api/teams/'+id)
                .then(() => {
                    this.teams.splice(index,1)
                })
                .catch(({error}) => {
                    alert("Erreur ! Impossible d'accéder à l'API." + error );
                });
        },
        saveTeam(index, team_save){
            this.teams.splice(index,1,team_save)
        },
    },
    beforeMount() {
        this.getFederations()
    }
}
</script>

<style>
#menu{position:fixed;top:20px;right:20px;z-index:70;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;letter-spacing:1px;font-size:1.1em}#menu li{display:inline-block;margin:10px 0;position:relative}#menu a{color:#fff;padding:0 1.1em 1.1em 1.1em}#menu li.active a:after{content:'';margin:0 1.1em 0 1.1em;height:2px;background:#fff;display:block;position:absolute;bottom:-6px;left:0;right:0;display:block}.actions{position:fixed;bottom:2%;margin:0 auto;z-index:99;left:0;right:0;text-align:center}.actions li{display:inline-block;margin:.3em .3em}.actions-button{padding:.73em 1.47em;background:rgba(53,73,94,.47);}
</style>
